@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./scss/base";
@import "./pages/home/home.scss";

@font-face {
  font-family: "Revamped";
  src:url('/assets/fonts/Revamped.otf');
  font-family: "Bucko";
  src:url('/assets/fonts/BuckoStdRegular.otf');
}

:root {
  //* Colors
  --color-verdeOscuro: #1b2e05;
  --color-verdeClaro: #517b1f;
  --color-span: #aedb7a;
  --cta-button: #0c9700;
  //* Fonts
  --title-font: "Revamped", sans-serif;
  --body-font: "Bucko", sans-serif;
  --font-color-light: #000000; /* Light mode font color */
  --font-color-dark: #e3e3e3;  /* Dark mode font color */
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --font-color-light: #ccc; /* Light mode font color */
    --font-color-dark: #ffffff;  /* Dark mode font color */
    --bg-color-dark: #000000;
  }
}

body {
  // background-color: rgba(131, 170, 147, 0.339);
  // color: var(--font-color-light); /* Default font color */
}

/* Apply different font color in dark mode */
@media (prefers-color-scheme: dark) {
  body {
    color: var(--font-color-dark);/* Dark mode font color */
    background: var(--color-verdeOscuro);
  }
}
